<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" (click)="logout()" >Sign out</a>
    </li>
  </ul>
</nav>
