<div class="text-center ">
  <form [formGroup]="rForm" (ngSubmit)="signIn(rForm.value)" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Sign In to backoffice</h1>
    <div class="vertical-center">
    <label>Username</label>
    <input class="form-control" type="text" formControlName="uname" placeholder="Enter username">
    <br>
        <!--show error only when field is not valid & it's dirty or form submited-->
    <div *ngIf="!rForm.controls['uname'].valid && rForm.controls['uname'].touched" class="alert alert-danger" role="alert"> {{usernameError}} </div>
    </div>
    <div class="vertical-center">
      <label>Password</label>
      <!--bind name to ngModel, it's required with minimum 5 characters-->
      <input class="form-control" type="password" formControlName="password" placeholder="Enter password">
      <!--show error only when field is not valid & it's dirty or form submited-->
      <div  *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched" class="alert alert-danger" role="alert"> {{passwordError}} </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit"  [disabled]="!rForm.valid">Sign in</button>
  </form>
  <div class="alert alert-danger" *ngIf="errorMsg">
    <strong> {{errorMsg}} </strong>
  </div>
</div>