<main role="main" class="col-md-12">
    <div class="alert alert-danger" *ngIf="errMsg">
        <strong> {{errMsg}}, Sign In to the dashboard again.</strong>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Customers</h1>
        <button type="button" class="btn btn-sm btn-primary" (click)="getAll()">Refresh</button>
    </div>
    <div>
        <input type="text" placeholder="Search" [(ngModel)]="searchText">
    </div>
    <div class="table-responsive">
        <table class="table" style="overflow-x: auto">
            <tr>

                <th>#</th>

                <th>Name</th>

                <th>Email</th>

                <th>Phone</th>

                <th>Address</th>

                <th>City</th>

                <th>Service Category</th>

                <th>Service Type</th>

                <th>Action</th>

            </tr>

            <tr
                    *ngFor="let game of data | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>{{i + 1}}</td>

                <td>{{game.fname}}</td>

                <td>{{game.email}}</td>

                <td>{{game.phone}}</td>

                <td>{{game.address}}</td>

                <td>{{game.city}}</td>

                <td>{{game.servicecategory}}</td>

                <td>{{game.servicetype}}</td>

                <td>
                    <button class="btn btn-danger" type="button" (click)="deleteRowInTable(game.cId)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</main>